.form-container {
    background-color: ghostwhite;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px orange;

}

form.forget {
    padding: 20px;
    margin-top: 139px;
    margin-bottom: 120px;
}
form.login{
    padding: 20px;
    margin-top: 73px;
    margin-bottom: 54px;
}

.form-container:hover {
    box-shadow: 0px 0px 20px 10px orange;
    transition: 0.5s;
}

body {
    background: url('../Images/loginback.jpg') no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer{
    background-color: ghostwhite;
}

/*.bg
{
    background: url('loginback.jpg');
    width: 100%;
    height: 100vh;
    background-size: 200%;
    opacity: revert;
}*/

/*

@media only screen and (max-width:680px) {
    .bg
    {
        background-size: 300%;
    }

}
*/